<div
  id='success'
  class='hidden container flex justify-center mx-auto'
>

  <div
    class='absolute inset-0 flex items-center justify-center bg-black bg-opacity-50'
  >
    <div class='max-w-sm p-6 bg-white'>
      <div class='flex items-center justify-between'>
        <h3 class='text-2xl'>You're In!</h3>

      </div>

      <div class='mt-4'>
        <p class='mb-4 text-sm'>We've sent you an email to confirm
          your registration.<br />Please login now to access your
          Dashboard page.</p>
        <a href='/login'><button
            class='block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple'
          >Login</button></a>
      </div>
    </div>
  </div>
</div>