<html :class="{ 'theme-dark': dark }" x-data='data()' lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Dashboard</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" /> -->
    <link rel='stylesheet' href='/css/tailwind.output.css' />
    <script
      defer
      src='https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js'
    ></script>
    <script src='/js/init-alpine.js'></script>
  </head>

  <body>
    <div
      class='flex h-screen bg-gray-50 dark:bg-gray-900'
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      
      {{> dashboard-nav}}
      
      {{> dashboard-header}}

      {{{ body }}}

      {{!-- </div> --}}
    </div>

   <script src="js/quicknode.js"></script>

  </body>

</html>