<main
  class='mt-10 mx-auto px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 h-full'
>
  <div
    class='flex flex-col md:flex-row w-full items-start justify-between md:justify-start h-full md:h-1/2'
  >
    <div
      class='text-left z-20 md:z-30 w-full md:w-1/2 flex flex-col items-center md:items-start justify-start h-full'
    >
      <h1
        class='tracking-tight font-extrabold text-gray-700 dark:text-white text-6xl'
      >
        Browse and buy the best NFTs
      </h1>
      <h2
        class='mt-3 text-gray-800 dark:text-gray-100 sm:mt-5 text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0'
      >
        ViewNFT is a community of passionate NFT owners &amp; creators displaying, commenting, and selling their digital art on the blockchain.
      </h2>
      <div class='sm:flex sm:justify-center lg:justify-start w-full'>
        <div>
          <button
            class='block w-full px-4 py-2 mt-4 text-m font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple'
          ><a href='/register'>
              Add Your Collection</a>
          </button>
        </div>
      </div>
    {{#unless loggedIn}}
      <div
        class='mt-3 sm:flex sm:justify-center w-full text-gray-600 dark:text-gray-300 lg:justify-start'
      >
        <p>Or
          <a
            href='/login'
            class='text-purple-600 hover:text-purple-700 underline'
          >
            login</a>
          to your account</p>
      </div>
      {{/unless}}
    </div>

    </div>
    <div
      class='opacity-10 z-10 md:z-50 md:opacity-70 sm:text-center absolute lg:text-left transform w-full -right-10 -top-72 md:w-1/2'
    >
      <div class='flex gap-4 gap-y-1'>
        <div class='col-1'>
          <div class='mb-4'>
            <div class='overflow-hidden'>
              <img src='/img/hackers-steal-nfts-art-collector.jpg' />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'>
              <img src='/img/nft_.jpg' />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/merlin_184196631_939fb22d-b909-4205-99d9-b464fb961d32-mobileMasterAt3x.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_1.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_10.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_11.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden w-64'>

            </div>
          </div>
        </div>
        <div class='col-1'>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_12.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_13.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'>
              <img src='/img/nft_15.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_16.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden w-64'>
              <img src='/img/nft_17.jpg' />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_18.jpg'
              />
            </div>
          </div>

        </div>
        <div class='col-1'>
          <div class='mb-4'>
            <div class='overflow-hidden'>
              <img src='/img/nft_4.jpg' />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_5.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden w-64'>
              <img src='/img/nft_6.jpg' />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_7.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_8.jpg'
              />
            </div>
          </div>
          <div class='mb-4'>
            <div class='overflow-hidden'><img
                src='/img/nft_9.jpg'
              />
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
