<main class='h-full overflow-y-auto'>
  <div class='container px-6 mx-auto grid'>
    <h2
      class='mt-6 mb-2 text-2xl font-semibold text-gray-700 dark:text-gray-200'
    >
      NFT Details
    </h2>

    <p class='mb-4'>
      <a
        class='text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline'
        href='/dashboard'
      >
        &#8592; Return to collections page
      </a>
    </p>
    <div
      class='flex px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800'
    >
      <div class='mr-4'>
        <img src='http://placehold.jp/300x300.png' />
      </div>
      <div>
        <h2 class='text-xl mb-2 text-gray-600 dark:text-gray-300'>
          Title
        </h2>
        <p class='text-m mb-2 text-gray-600 dark:text-gray-300'>
          Description
        </p>
        <ul class='text-sm text-gray-600 dark:text-gray-400'>
          <li>Metadata 1</li>
          <li>Metadata 2</li>
          <li>Metadata 3</li>
        </ul>
      </div>
    </div>

  </div>
</main>